torch==2.6.0
torchaudio==2.6.0
torchvision==0.21.0
mmcv==1.6.0
matplotlib
argparse
lpips
plyfile
open3d
opencv-python
imageio[ffmpeg]
transformers==4.45.0
accelerate
qwen-vl-utils[decord]
loguru
sentence_transformers
jaxtyping
open_clip_torch
mediapy
seaborn
roboflow